<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>If want to join Jpiders Please contact bellow given Hr names and their contact numbers</h1>
        <h2>Name:Vasnatha and phone no: 9347427592</h2>
        <h2>Name:Supraja and phone no: 9121317198</h2>
        <a href="{% url 'trainers' %}"><h1>click here  if you want Trainers names</h1></a>

    </center>
</body>
</html>