<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Jspiders offered courses</h1>
        <h2>Python FullStack Developement</h2>
        <h2>Java FullStack Developement</h2>
        <h2>MERN FullStack Developement</h2>
        <a href="{% url 'app2:contact' %}"><h1>click here  if you want to contact jspiders Team</h1></a>
    </center>
</body>
</html>